body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #6b3e26;
  padding: 2% 0;
  text-align: center;
  color: #fffaf0;
}

h1 {
  margin: 0;
  font-size: 2em;
}

.tabla-contenedor {
  padding: 2% 5%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 1%;
  text-align: center;
}

th {
  background-color: #d2b48c;
  color: #000;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 3%; /* antes 25% */
  flex-wrap: wrap; /* permite que pasen a otra línea en pantallas pequeñas */
  justify-content: center;
  text-align: center;
}


nav ul li a {
  background-color: #a2644d;
  padding: 3% 5%; /* más grande el botón */
  color: #fff;
  border: 4px solid #fffaf0; /* mayor contorno */
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%; /* más grande */
  font-family: LondrinaSolid;
}
